-# = link_to room.title, room_path(room.title), class: "", target: "_blank", rel: "noopener noreferrer"
%a.list-group-item{href: "#{room_path(room.title)}"}
  %h4.list-group-item-heading "#{room.title}"
